<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>calc.pw</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>appVersion</string>
			<key>DefaultValue</key>
			<string>1.4.1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Developer</string>
			<key>Key</key>
			<string>appDeveloper</string>
			<key>DefaultValue</key>
			<string>Kevin Niehage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>E-Mail</string>
			<key>Key</key>
			<string>appEMail</string>
			<key>DefaultValue</key>
			<string>hello@calc.pw</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Website</string>
			<key>Key</key>
			<string>appWebsite</string>
			<key>DefaultValue</key>
			<string>https://calc.pw/</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>DejaVu Fonts</string>
			<key>File</key>
			<string>DejaVuFonts</string>
		</dict>
	</array>
</dict>
</plist>
